@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
p {

    font-family: 'Montserrat', sans-serif;
}
footer {
    background-color: lightgray;

}

body {
    background-color: yellow;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: red;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Barriecito', sans-serif;
    border: solid 2px darkblue;
    background-color: orange;
    display: flex;
    justify-content: center;
   padding: 4px;
}
ul {
    list-style-type: none;
}
ul li {
    display: inline-block;
    background: url('../img/hamburger.png') no-repeat left center ;
    background-size: 26px 26px;
    padding-left: 35px;
    padding-top: 25px;
    margin: 10px;
    /*border: 2px solid #FDCC8C;*/
    background-color: darkorange;
    width: 100px;

}

ul li:hover {
    background-color: #734202;
    color: white;

}
footer {
    text-align: center;
}


